.git
.gitignore
.idea
.vscode
.DS_Store
.next
.vinext
.wrangler
dist
node_modules
outputs
work
resources
public/song
public/video
public/lyrics
public/poster
public/covers
*.mp3
*.mp4
npm-debug.log*
.env*
